/* styles.css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #d0caf7 inset !important;
    box-shadow: 0 0 0 30px #d0caf7 inset !important;
    -webkit-text-fill-color: #000 !important;
    background-color: #000 !important;
}
